#content-wrap{
	background-color: gray;
	width: 100%;
	height: 2650px;
}
#content-wrap1{
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 2000px;
	padding-top: 150px;
}
#content{
	margin: auto;
	width: 80%;
	height: 2100px;
}
#thongtin{
	width: 100%;
	height: 345px;
	background-color: white;
}