<<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My CV</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

</head>
<body ng-app="myApp" ng-controller="myCtrl">
  <div class="content-wrap"> 
    <div class="content-wrap1">
      <div class="container content">
        <div class="row">
          <!--thong tin -->
          <img class="col-md-3 avatar" src="images/avatar.png" alt="avatar">

          <div class="col-md-9 detail inform" ng-app="" ng-init="hoten='Trần Minh Nhí'">
            <h3 class="col-md-10 line"><strong>{{hoten}}</strong></h3>

            <div class="col-md-2">
              <button type="button" class="btn" data-toggle="modal" data-target="#myModal">Edit</button>

              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Chang data in Summary</h4>
                    </div>
                    <div class="modal-body">
                      <textarea name="textbody" id="ndsummary" ng-model="ndHoten" cols="75" rows="5" placeholder="Change data............"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" ng-click="myFunction()">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <h4 class="col-md-12 line">Studing University Of Science - HCMUS</h4>
            <h5 class="col-md-12 line">227 Nguyễn Văn Cừ, Q5, TP HCM</h5>
            <h6 class="col-md-12 line">Current</h6>
            <h6 class="col-md-12 line">Previous</h6>
            <h6 class="col-md-12 line">Education</h6>
            <div class="btn-group col-md-2">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Follow <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">View recent activity</a></li>
                <li><a href="#">Send Nhi InMail</a></li>
                <li><a href="#">Connect</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Share profile</a></li>
                <li><a href="#">Save to PDF</a></li>
                <li><a href="#">Block or report</a></li>
              </ul>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2">4,057,461 followers</div>
          </div>
          


          <div class="col-md-12">
            <button class="btn btn-primary A" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Contact Info
            </button>
            <img class="B"src="images/logo.png" alt="logo">
            <a class="C" href="https://www.linkedin.com/in/minh-nh%C3%AD-43208b11b?trk=nav_responsive_tab_profile_pic">https://www.linkedin.com/in/minh-nh%C3%AD-43208b11b?trk=nav_responsive_tab_profile_pic</a>
            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <h6>Phone Number: 0969268396</h6>
                <h6>Facebook: <a href="https://www.facebook.com/nhi.minh.3762">Minh Nhí</a></h6>
              </div>
            </div>
          </div>
          <!-- end thong tin -->
          <!-- noi dung -->
          <div class="col-md-12 noidung">
            <div class="col-md-2 background">Background</div>
            <div class="col-md-10"></div>
            
            <!--summary-->
            <div class="col-md-12" ng-app="" ng-init="noidungsummary='ABC'">
              <h3 class="glyphicon glyphicon-duplicate col-md-10">Summary</h3>
              <button type="button" class="col-md-2 btn" data-toggle="modal" data-target="#myModal1">Edit</button>

              <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Chang data in Summary</h4>
                    </div>
                    <div class="modal-body">
                      <textarea name="textbody" id="ndsummary" ng-model="ndsummary" cols="75" rows="5" placeholder="Change data............"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" ng-click="myFunction1()">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12" id="summary">
                {{noidungsummary}}
              </div>
            </div>

            <!--Experience-->
            <div class="col-md-12" ng-app="" ng-init="noidungexperience='ABC'">
              <h3 class="glyphicon glyphicon-send col-md-10">Experience</h3>
              <button type="button" class="col-md-2 btn" data-toggle="modal" data-target="#myModal2">Edit</button>

              <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Chang data in Experience</h4>
                    </div>
                    <div class="modal-body">
                      <textarea name="textbody" id="" ng-model="ndexperience" cols="75" rows="5" placeholder="Change data............"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" ng-click="myFunction2()">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                {{noidungexperience}}
              </div>
            </div>

            <!--Skills-->
            <div class="col-md-12" ng-app="" ng-init="noidungskills='ABC'">
              <h3 class="glyphicon glyphicon-star-empty col-md-10">Skills</h3>
              <button type="button" class="col-md-2 btn" data-toggle="modal" data-target="#myModal3">Edit</button>

              <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Chang data in Skills</h4>
                    </div>
                    <div class="modal-body">
                      <textarea name="textbody" id="" ng-model="ndskills" cols="75" rows="5" placeholder="Change data............"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" ng-click="myFunction3()">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                {{noidungskills}}
              </div>
            </div>

            <!--Education-->
            <div class="col-md-12" ng-app="" ng-init="noidungeducation='ABC'">
              <h3 class="glyphicon glyphicon-flag col-md-10">Education</h3>
              <button type="button" class="col-md-2 btn" data-toggle="modal" data-target="#myModal4">Edit</button>

              <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Chang data in Education</h4>
                    </div>
                    <div class="modal-body">
                      <textarea name="textbody" id="" ng-model="ndeducation" cols="75" rows="5" placeholder="Change data............"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" ng-click="myFunction4()">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                {{noidungeducation}}
              </div>
            </div>

          </div>
          <!-- end noi dung -->
        </div>
      </div>
    </div>
  </div>
  <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
      $scope.myFunction1 = function(){
        var temp = $scope.ndsummary;
        $scope.noidungsummary = temp;
      }
      $scope.myFunction2 = function(){
       var temp = $scope.ndexperience;
       $scope.noidungexperience = temp;
     }
     $scope.myFunction3 = function(){
      var temp = $scope.ndskills;
      $scope.noidungskills = temp;
    }
    $scope.myFunction4 = function(){
      var temp = $scope.ndeducation;
      $scope.noidungeducation = temp;
    }
    $scope.myFunction = function(){
      var temp = $scope.ndHoten;
      $scope.hoten = temp;
    }
  });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-1.12.3.min.js"></script>
</body>
</html>